# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.8080'
'name': '8080'
'fileTypes': [
  '8080'
]
'patterns': [
  {
    'comment': 'comment'
    'match': ';.*'
    'name': 'comment.line.semicolon'
  },
  {
    'comment': 'string'
    'match': '\'.+(\'\')*.*\''
    'name': 'string.quoted.single'
  },
  {
    'comment': 'label'
    'match': '[A-Za-z@\?][A-Za-z0-9]{1,5}:'
    'name': 'variable.other'
  },
  {
    'comment': 'opcode'
    'match': '[ \t]+([Mm][Oo][Vv])[ \t]+'
    'name': 'entity.name.function'
  },
  {
    'comment': 'directive'
    'match': '[ \t]+([Dd][Bb]|[Dd][Ww]|[Dd][Ss]|[Ee][Qq][Uu]|[Ee][Xx][Tt][Rr][Nn]|[Nn][Aa][Mm][Ee]|[Pp][Uu][Bb][Ll][Ii][Cc]|[Ss][Ee][Tt]|[Ss][Tt][Kk][Ll][Nn])[ \t]+'
    'name': 'keyword.other'
  },
  {
    'comment': 'number'
    'match': '(?<=[, \t])[0-9]+[A-Fa-f0-9]*[HhOoQqDdBb]*'
    'name': 'constant.numeric'
  },
  {
    'comment': 'register'
    'match': '(?<=[, \t])([Aa]|[Bb]|[Cc]|[Dd]|[Ee]|[Hh]|[Ll]|[Mm]|[Ss][Pp]|[Pp][Ss][Ww])(?=[, \t\n])'
    'name': 'constant.character'
  },
  {
    'comment': 'symbol'
    'match': '[A-Za-z@\?][A-Za-z0-9]{1,5}|$'
    'name': 'entity.tag'
  }
]
