# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.8080'
'name': '8080 Assembly'
'fileTypes': [
  '8080'
]
'patterns': [
  {
    'comment': 'comment'
    'match': ';.*'
    'name': 'comment.line.semicolon'
  },
  {
    'comment': 'string'
    'match': '\'.+(\'\')*.*\''
    'name': 'string.quoted.single'
  },
  {
    'comment': 'label'
    'match': '\\b([A-Za-z@\?][A-Za-z0-9]{0,5}\:)\\B'
    'name': 'variable.other'
  },
  {
    'comment': 'opcode'
    'match': '\\b([Mm][Oo][Vv])\\b'
    'name': 'entity.name.function'
  },
  {
    'comment': 'directive'
    'match': '\\b([Dd][Bb]|[Dd][Ww]|[Dd][Ss]|[Ee][Qq][Uu]|[Ee][Xx][Tt][Rr][Nn]|[Nn][Aa][Mm][Ee]|[Pp][Uu][Bb][Ll][Ii][Cc]|[Ss][Ee][Tt]|[Ss][Tt][Kk][Ll][Nn])\\b'
    'name': 'keyword.other'
  },
  {
    'comment': 'control'
    'match': '\\b([Aa][Ss][Ee][Gg]|[Cc][Ss][Ee][Gg]|[Dd][Ss][Ee][Gg]|[Ee][Ll][Ss][Ee]|[Ee][Nn][Dd]|[Ee][Nn][Dd][Ii][Ff]|[Ee][Oo][Tt]|[Ii][Ff]|[Oo][Rr][Gg])\\b'
    'name': 'keyword.control'
  },
  {
    'comment': 'macro'
    'match': '\\b([Ee][Xx][Ii][Tt][Mm]|[Ee][Nn][Dd][Mm]|[Ii][Rr][Pp]|[Ii][Rr][Pp][Cc]|[Ll][Oo][Cc][Aa][Ll]|[Ll][Oo][Cc][Aa][Tt][Ee]|[Mm][Aa][Cc][Rr][Oo]|[Rr][Ee][Pp][Tt])\\b'
    'name': 'keyword.operator'
  },
  {
    'comment': 'reserved'
    'match': '\\b([Mm][Ee][Mm][Oo][Rr][Yy]|[Ss][Tt][Aa][Cc][Kk]|[\$])\\b'
    'name': 'variable.language'
  },
  {
    'comment': 'number'
    'match': '\\b[0-9]+[A-Fa-f0-9]*[HhOoQqDdBb]{,1}\\b'
    'name': 'constant.numeric'
  },
  {
    'comment': 'register'
    'match': '\\b([Aa]|[Bb]|[Cc]|[Dd]|[Ee]|[Hh]|[Ll]|[Mm]|[Ss][Pp]|[Pp][Ss][Ww])\\b'
    'name': 'constant.character'
  },
  {
    'comment': 'symbol'
    'match': '\\b[A-Za-z@\?][A-Za-z0-9]{0,5}\\b'
    'name': 'entity.tag'
  }
]
