'.source.asm.8080':
  'editor':
    'commentStart': ';'
    'commentEnd': '\n'
    'increaseIndentPattern': '(\\b([A-Za-z@\?][A-Za-z0-9]{0,5}\:)\\B).*'
    'decreaseIndentPattern': '\\b([A-Za-z@\?][A-Za-z0-9]{0,5}\:)\\B'
